@font-face {
    font-family: 'iconfont';  /* project id 1841784 */
    src: url('//at.alicdn.com/t/font_1841784_exwmznt2uws.eot');
    src: url('//at.alicdn.com/t/font_1841784_exwmznt2uws.eot?#iefix') format('embedded-opentype'),
    url('//at.alicdn.com/t/font_1841784_exwmznt2uws.woff2') format('woff2'),
    url('//at.alicdn.com/t/font_1841784_exwmznt2uws.woff') format('woff'),
    url('//at.alicdn.com/t/font_1841784_exwmznt2uws.ttf') format('truetype'),
    url('//at.alicdn.com/t/font_1841784_exwmznt2uws.svg#iconfont') format('svg');
  }
  
  .iconfont{
      font-family: 'iconfont';
      font-style: normal;
  }
  
  .icon-right::before{
     content:'\e644' ;
  }
  
  .icon-down::before{
     content:'\e642' ;
  }
  