html,body{
    height: 100%;
}

#app{
    height:100%;
    overflow-y: scroll;
}


.header {
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 15px;
    z-index: 3;
    background-color: #fff;
}

.header .logo {
    margin-left: 18px;
}

.header .search-input {
    width: 132px;
    height: 24px;
    display: flex;
    align-items: center;
    color: #999;
    background-color: #f4f4f4;
    border-radius: 12px;
    font-size: 12px;
    margin-left: 5px;
}

.header .search-input svg {
    margin-left: 10px;
}

.header .search-input span {
    width: 92px;
    /* 不换行 */
    white-space: nowrap;
    overflow: hidden;
    /* 文本溢出打点 */
    text-overflow: ellipsis;

}

.header .avatar svg {
    border-radius: 50%;
}

.header .download-app {
    width: 78px;
    height: 23px;
    font-size: 12px;
    line-height: 23px;
    text-align: center;
    color: #fff;
    background-color: #fb7299;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 5px;
    margin-right: 12px;
}

.nav-box {
    /* background-color: blueviolet; */
    position: fixed;
    top: 54px;
    left: 0px;
    right: 0px;
    z-index: 1;
    background-color: #fff;
    

}

.nav-box .nav-list {
    white-space: nowrap;
    width: 85%;
    /* background-color: cyan; */
    overflow-x: scroll;
    padding-left: 24px;
}

.nav-box .nav-list::-webkit-scrollbar {
    display: none;
}

.nav-box .nav {
    display: inline-block;
    height: 30px;
    line-height: 30px;
    margin-right: 40px;
    color: #757575;
    font-size: 14px;
    border-bottom: 2px solid transparent;
}

.nav-box .nav.active {
    border-color: #fb7299;
    color: #fb7299;
}

.nav-box .down {
    position: absolute;
    top: 0;
    right: 14px;
}

.hide-nav-box {
    position: fixed;
    top: 54px;
    left: 0;
    right: 0;
    background-color: #fff;
    z-index: 2;
    transition: top .5s;

}


.hide-nav-box .nav {
    display: inline-block;
    width: 32px;
    margin-left: 14px;
    margin-right: 14px;
    margin-bottom: 10px;
    font-size: 14px;
    color: #757575;
    border-bottom: 2px solid transparent;
    text-align: center;
    padding-top: 6px;
    padding-bottom: 5px;

}
.hide-nav-box.hide{
    top:-87px;

    
}

.hide-nav-box .nav.active {
    border-color: #fb7299;
    color: #fb7299;
}

.hide-nav-box .nav.big {
    width: 46px;
    margin-right: 7px;
    margin-left: 7px;
}

.hide-nav-box .up{
    position: absolute;
    left: 50%;
    transform:translateX(-50%) ;
    top:122px;
}
.banner-box{
  position: relative;
  background-color: yellowgreen;
  top:90px;
  width: 350px;
  height: 110px;
  overflow: hidden;
  border-radius: 6px;
  left:50%;
  transform:translateX(-50%)
}
.banner-box .banner-list{
    position: absolute;
    width: calc(350px * 4);
    left: 0;
    transition: left .3s;
}

.banner-box .banner{
    width: 350px;
    height: 110px;
    float: left;
}
.banner-box .poster{
width:100% ;
height: 100%;
}

.banner-box .index-list{
position: absolute;
height: 10px;
background-color: rgb(0,0,0,0.5);
display: flex;
align-items: center;
border-radius: 5px;
padding-left:3px ;
padding-right: 3px;
left:50%;
transform: translateX(-50%);
bottom: 3px;

}

.banner-box .index{
   width:5px;
   height: 5px;
   background-color:#fff;
   border-radius: 50%;
   
   margin-left: 3px;
   margin-right: 3px;
   vertical-align: middle;

}
.banner-box .index.active{
  background-color: #fb7299;  
}

.video-box{
padding-top: 100px;
padding-left: 6px;
padding-right: 6px;
}

.video-box .video-list::after{
    display: block;
    content:'';
    clear: both;
}

.video-box .video{
  width:50%;
  float:left;

}

.video-box .poster{
    height: 106px;
    margin-left: 6px;
    margin-right: 6px;
    border-radius: 6px;
    overflow: hidden;
    position: relative;
}

.video-box .poster img{
width: 100%;
height: 100%;
}

.video-box .poster .info{
position: absolute;
bottom:0 ;
color: #fff;
background-image: linear-gradient(rgba(33,33,33,0),rgba(33,33,33,.5));
left:0;
right: 0;
height: 20px;
padding-top: 7px;
padding-bottom: 3px;
padding-left: 10px;
font-size: 12px;
}
.video-box .info div{
    display:inline-flex;
    align-items: center;
    margin-right: 10px;
}

.video-box .poster .info svg{
    width:14px;
    height: 14px;
    fill:#fff;
    margin-right: 3px;
}


.video-box .title{
    font-size: 13px;
    margin: 6px 6px 6px 10px;
    line-height: 20px;
    height: 38px;

    /* 单行文本溢出打点
    overflow:hidden;
    white-space: nowrap;
    text-overflow: ellipsis; */

    /* 多行文本溢出打点 */
    overflow: hidden;
    /* 设置盒子为伸缩盒 */
    display: -webkit-box;
    /*  设置伸缩盒内子元素排列方式为垂直*/
   -webkit-box-orient:vertical ;
    /* 规定显示文本行数 */
    -webkit-line-clamp: 2;
}

.footer {
    margin-top: 40px;
  }
  
  .footer p {
    margin-bottom: 20px;
    text-align: center;
    font-size: 13px;
    color: #999;
  }
